@mixin opacity($decimal){
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$decimal*100})";
	  filter: alpha(opacity=$decimal*100);
	  -moz-opacity: $decimal;
	  -khtml-opacity: $decimal;
	  opacity: $decimal;
}
@mixin rotate($deg){
-moz-transform: rotate($deg);
-o-transform: rotate($deg);
  -webkit-transform: rotate($deg);
      -ms-transform: rotate($deg);
          transform: rotate($deg);
             filter: progid:DXImageTransform.Microsoft.Matrix(
                     M11=0.9996573249755573, M12=0.02617694830787315, M21=-0.02617694830787315, M22=0.9996573249755573, sizingMethod='auto expand');
               zoom: 1;
}
@mixin skew($deg){
  -moz-transform: skew($deg);
  -webkit-transform: skew($deg);
}

@mixin box_round($px) {
     -moz-border-radius: $px; /* FF1+ */
  -webkit-border-radius: $px; /* Saf3-4, iOS 1+, Android 1.5+ */
          border-radius: $px; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */

  /* useful if you don't want a bg color from leaking outside the border: */
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
@mixin box_round_tl($px){
    border-top-left-radius: $px; -moz-border-radius-topleft: $px; -webkit-border-top-left-radius: $px;	
}
@mixin box_round_tr($px){
    border-top-right-radius: $px; -moz-border-radius-topright: $px; -webkit-border-top-right-radius: $px;	
}

@mixin box_round_top($px){
	@include box_round_tr($px);
	@include box_round_tl($px);
}
@mixin alpha_bg($r, $g, $b, $a){
    background-color: rgb($r, $g, $b);
    background-color: rgba($r, $g, $b, $a);
}
@mixin backgrounded{
    @include alpha_bg(255,255,255,0.8);
    /*background-color: rgba(255, 255, 255, 0.8);*/
}
@mixin box_shadow($a, $b, $c, $rgb){
     -moz-box-shadow: $a $b $c $rgb; /* FF3.5+ */
  -webkit-box-shadow: $a $b $c $rgb; /* Saf3.0+, Chrome */
          box-shadow: $a $b $c $rgb; /* Opera 10.5, IE9, Chrome 10+ */
}
@mixin inset_box{
   	padding: 1em 1em;
    border-radius: $small_border_radius;
    box-shadow: 0px 0px 5px #CCC;
    background-color: rgba(255, 255, 255, 0.75);
    background-image: -webkit-gradient(linear, left top, left bottom, from( rgba(255, 255, 255, 0.55) ), to( rgba(255, 255, 255, 0.85) )); /* Saf4+, Chrome */


}
@mixin backgrounded_button{
	  -webkit-transition-property: background-color;
	  -webkit-transition-duration: $transition_time;    
}
@mixin backgrounded_button_hover{
	      background-color: #444;
}
@mixin handwritten{
	        font-family: 'Courier', monospace;
	/*        text-shadow: 0px -2px 2px #EEF;*/
	        font-size: 11pt;
	        color: #000;
	        text-shadow: 0px 0px 1px #ccc;
}

$column_width: 760px;
$fat_margin: 60px;
$small_border_radius: 7px;

$grid: 20px;
$half_grid: 10px;
$transition_time: 0.1s;
$sans_serif_families: "lucida grande",lucida,tahoma,helvetica,arial,sans-serif; 




		/* cool freakin shit: http://www.catswhocode.com/blog/8-examples-of-stunning-css3-text-effects */
html{
    margin: 0;
    padding:0;
    background-color: #141011;
    position:relative;
}
	body{
		font-family:'Times New Roman';
		font-size: 1.1em;
		line-height: 1.5em;
		color: #111;
		margin: 0;
		padding: 0;
text-align:center;
	}
	.column{
		width: $column_width;
		margin: 60px auto;
        padding:60px;
 		@include box_round(7px);
    	@include backgrounded;
	  @include box-shadow(0px, 0px, 10px, black);
	overflow: hidden;
	}
#logo{
    font-size: 50pt;
	margin-bottom: 20px;
	padding-top: 10px;
}
#intro{
    padding: 60px 0px;
    letter-spacing: 1px;
}

img{
    border: 0;
}
  	a{
		color: #5a4e70;
        text-decoration:none;
	}
	a:hover{
		color: #68646e;
text-decoration:underline;
	}
.creation{
    text-align:left;
    clear: both;
    margin: 60px 0;
    a{
        text-decoration:underline;
    }
    span.detail{
        font-size: 10pt;
        margin-top: -20px;
        display: block;

    }
}
.creation.small{
    padding: 1em 1em;
    position: relative;
}

.section{
    clear: both;
    margin: 60px 0;
}

.live_inset{
	overflow: hidden;
	width: 760px;
	margin: 60px auto;
	padding: 60px;
  	color: #eee;
	text-shadow: 0px -1px 1px #111;
  font-size: 11pt;
  text-align: left;
  font-family: $sans_serif_families;
  a{
    color: #fff;
  }
  a:visited{
    color: #fff;
  }
  @include alpha_bg(51, 51, 51, 0.9);
  @include box_round($small_border_radius);
  @include box-shadow(0px, 0px, 10px, black);
}

$live_inset_highlight: rgba(200, 190, 100, 0.8);
::selection {
    background: $live_inset_highlight; /* Safari */
    }
::-moz-selection {
    background: $live_inset_highlight; /* Firefox */
}



h2.main{
	padding-top: 20px;
	font-size: 24pt;
	text-align: center;
	margin: 0;
	color: #fff;
}

  #profile_pic{
    width: 250px;
        padding: 10px;
            float: left;

  }
  #twitter_feed{
        float: left;
        width: 490px;
    }

.rounded_tl{
	@include box_round_tl($small_border_radius);
}
.rounded_tr{
	@include box_round_tr($small_border_radius);
}
.top_posts > ul{
	width: 1000px;
}
  .top_posts{
    padding: 0;
    @include box_round_top($small_border_radius);
    background-color: #444;
	@include box_shadow(0px, 0px, 5px, #666);
    background-color: #393939;
	overflow: hidden;
	margin: -60px;
	margin-bottom: 0;
	width: 880px;

	span, a.button{
      padding: $half_grid;
/* could make padding 10px 16px a la golden ratio. will wait for js on top_posts slider */
	}
    a.button {
      margin: 0;
	display: block;	
@include backgrounded_button();
    }
    a.button:hover {
		@include backgrounded_button_hover();
    }
	a.button.active {
		background-color: #A94;
		text-shadow: none;
		@include box_shadow(0px, 0px, 5px, #A94);
	}
	a.recent{
		border-top-left-radius: $small_border_radius; -moz-border-radius-topleft: $small_border_radius; -webkit-border-top-left-radius: $small_border_radius;	    
	}

    ul{
      list-style-type:none;
      padding-left: 0;
		padding-right: 40px;
		margin: 0;

      li{
        float: left;
		span{
			padding-right: 10px;
			
		}
      }
		li.scrollbox{
			width: 650px;
			overflow: hidden;
			ul{
				width: 1500px;
			}
		}
    }
    }

.creations{
	.top_posts{
		li{
			width: 440px;
		}
		a.button{
			font-size: 14pt;
		}
	}
}

#project_nav{
	text-align: center;
	width: 440px;
	a{
			padding: 0px 10px;		
	}
	a.active{
		color: #BA5;
		text-shadow: none;
	}
	
}

    #blog{
      text-shadow: 0px -1px 1px #111;
      padding: $half_grid;
      .introtext h2{
        color: #eee;
      }
      h2{
        text-align: center;
        span{
          font-style: italic;
        }
      }
      .introtext{
        padding: 60px;
		@include opacity(0.5);
      }

      div.linkout{
        padding: $grid;
      }
    }


#hobby_items{
    display:none;
}
#portfolio_items{
  margin: 0 -60px;
  overflow-x: hidden;
}

#portfolio_items .sliding_frame{
  width: 5000px;
}
#portfolio_items .sliding_frame > div{
float: left;
width: $column_width;
margin: 0 60px;
}
    #whoisthisguy{
        display:none;
        @include handwritten();
        width: 100%;
        @include alpha_bg(255,255,255,0.3);
        padding: 60px 0;

        .close{
			text-align: center;
        }
         .body{
             position: relative;
             @include alpha_bg(255,255,255,0.90);
			@include box_shadow(0px, 0px, 15px, black);
            display: none;
            margin: 0 auto;
            display: block;
            text-align: left;
            width: 700px;
            padding: 60px 100px;
        }
        .worldmap{
          margin: 60px -30px;
        }
        }

/*        .twtr-ft img{
			@include opacity(0.8);
        }*/



blockquote{
	font-size: 14pt;
    @include inset_box;
    text-align: center;
    width: 500px;
    color: #227;
    text-shadow: 0px -1px 1px white;
    font-style: italic;
    margin: 1em auto;


}

#background{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 1000px;
}
.visit_link{
margin-top:$half_grid;
text-align:center;
}

#tweet{
    display:none;
	position: fixed;
	top: 10px;
	right: 10px;
    width:450px;
    min-height: 50px;
    @include alpha_bg(30, 30, 30, 0.8);
	@include box_round(7px);
	padding: 10px;
	color: #ddd;
	font-size: 11pt;
    line-height:18pt;
  	font-family: $sans_serif_families;

    overlow: hidden;

	a{
		color:#fff;
	}

    .indicator{
        position: absolute;
        top: 15px;
        left: 15px;
        width: 40px;
        height: 40px;
        overflow: hidden;
        z-index:2;
        @include alpha_bg(255,255,255,0.3);
    }
    .bird{
        position: absolute;
        top: 10px;
        left: 10px;
        width: 50px;
        height: 50px;
        z-index:3;
    }
    .content{
        margin-left: 60px;
    }
    .progressBar{
        z-index:2;
        width: 100%;
        height: 100%;
        position:absolute;
        left: 0;
        top: 0;
        @include alpha_bg(255,255,255,1);
        @include box_shadow(0px, 0px, 6px, #fff);
    }
}

	#footer{
		background-color: rgba(255,255,255,0.9);
		width: 880px;
		margin: 0px auto;
		padding: 8px;
		@include handwritten();
      	@include backgrounded;
		@include box_shadow(0px, 0px, 5px, #CCC);
	}

.clear{
  clear:both;
}
.center{
  text-align: center;
}
.left{
  float: left;
}